body {
  color: #494949;
  font-size: 18px;
  font-weight: ligther;
  line-height: 1.6;
  font-family: 'lora', serif;
  margin: 0;
}

h1, h2 {
  font-family: "monserrat", sans-serif;
  font-weight: lighter;
}

h2 {
  color: #370459;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: goldenrod;
}

.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120x 0;
}

.banner h1 {
  font-size: 38px;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 8.8;
}

.container {
  max-width: 700px;
  margin: 50px auto;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));;
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium:hover {
  background-image: #43bA73;
}

@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 350px;
  }
}

.banner {
  padding: 50px 0;
}

.banner h1 {
  font-size: 30px;
}

.banner p {
  font-size: 20px;
}
